<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="9c3ac0dc-b24b-46ae-9acc-32066666a42a" Publisher="CN=smcnulty" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Salesforce.Sample.Salesforce1.Container.Windows</DisplayName>
    <PublisherDisplayName>smcnulty</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <!--NOTE: x-generate does not automatically detect languages that are in a referenced assembly, this
    sample app really only gets its strings from the Salesforce.SDK.Core assembly, so we will explicitly say
    which languages we support here.  Most apps should just use x-generate for language detection since
    they will have other string resources and x-generate will detect the proper languages.-->
    <!--<Resource Language="x-generate" />-->
    <Resource Language="cs-CZ" />
    <Resource Language="da-DK" />
    <Resource Language="de-DE" />
    <Resource Language="el-GR" />
    <Resource Language="en-us" />
    <Resource Language="es-ES" />
    <Resource Language="fi-FI" />
    <Resource Language="fr-FR" />
    <Resource Language="hu-HU" />
    <Resource Language="id-ID" />
    <Resource Language="it-IT" />
    <Resource Language="ja-JP" />
    <Resource Language="ko-KR" />
    <Resource Language="nb-NO" />
    <Resource Language="nl-NL" />
    <Resource Language="pl-PL" />
    <Resource Language="pt-BR" />
    <Resource Language="ro-RO" />
    <Resource Language="ru-RU" />
    <Resource Language="sv-SE" />
    <Resource Language="th-TH" />
    <Resource Language="tr-TR" />
    <Resource Language="uk-UA" />
    <Resource Language="vi-VN" />
    <Resource Language="zh-CN" />
    <Resource Language="zh-TW" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Salesforce.Sample.Salesforce1.Container.Windows.App">
      <m2:VisualElements DisplayName="Salesforce.Sample.Container" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Salesforce.Sample.Salesforce1.Container.Windows" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>