[submodule "external/cordova-wp8"]
	path = external/cordova-wp8
	url = git@github.com:/apache/cordova-wp8
[submodule "external/shared"]
	path = external/shared
	url = git@github.com:/wmathurin/SalesforceMobileSDK-Shared
