<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="1e79468a-74c4-429e-ad55-88381a28b9ff" Publisher="CN=smcnulty" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Salesforce.One.App</DisplayName>
    <PublisherDisplayName>smcnulty</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Salesforce.One.App.App">
      <m2:VisualElements DisplayName="Salesforce.One.App" Square150x150Logo="Assets\icon.png" Square30x30Logo="Assets\SmallLogo.png" Description="Salesforce.One.App" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\splash_logo.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>